
.SaberBar:hover{
    width: 155px;
    border-top:    10px solid antiquewhite;
    border-right:  10px solid antiquewhite;
    border-left: 10px solid antiquewhite; 
}

.SaberBar{
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    z-index: 100;
    width: 150px;
    transition: width .5s;
    transition: border 1s;
}

/* .SaberBar:nth-of-type(even){
    background: #8CBA51; 
}

.SaberBar:nth-of-type(odd){
    background: #C9485B; 
} */
