


.BarChart-container{
    height: 450px;
    border: 1px solid tomato;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
    background: #000;
}

/*------- BEGIN: Star Background CSS ------------*/

#space, .stars {
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .stars {
    background-image: 
      -o-radial-gradient(20px 30px, 2px 2px, #eee, rgba(0,0,0,0)),
      -o-radial-gradient(40px 70px, 2px 2px, #fff, rgba(0,0,0,0)),
      -o-radial-gradient(50px 160px, 2px 2px, #ddd, rgba(0,0,0,0)),
      -o-radial-gradient(90px 40px, 2px 2px, #fff, rgba(0,0,0,0)),
      -o-radial-gradient(130px 80px, 2px 2px, #fff, rgba(0,0,0,0)),
      -o-radial-gradient(160px 120px, 2px 2px, #ddd, rgba(0,0,0,0));
    background-image: 
      radial-gradient(2px 2px at 20px 30px, #eee, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 40px 70px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 90px 40px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 130px 80px, #fff, rgba(0,0,0,0)),
      radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0,0,0,0));
    background-repeat: repeat;
    background-size: 200px 200px;
    -webkit-animation: zoom 5s infinite;
            animation: zoom 5s infinite;
    opacity: 0;
  }
  
  .stars:nth-child(1) {
    background-position: 50% 50%;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
  }
  .stars:nth-child(2) {
    background-position: 20% 60%;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .stars:nth-child(3) {
    background-position: -20% -30%;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .stars:nth-child(4) {
    background-position: 40% -80%;
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .stars:nth-child(5) {
    background-position: -20% 30%;
    -webkit-animation-delay: 4s;
            animation-delay: 4s;
  }
  
  @-webkit-keyframes zoom {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    } 
    85% {
      opacity: 1;
      -webkit-transform: scale(2.8);
              transform: scale(2.8);
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(3.5);
              transform: scale(3.5);
    }
  }
  
  @keyframes zoom {
    0% {
      opacity: 0;
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    } 
    85% {
      opacity: 1;
      -webkit-transform: scale(2.8);
              transform: scale(2.8);
      -webkit-animation-timing-function: linear;
              animation-timing-function: linear;
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(3.5);
              transform: scale(3.5);
    }
  }
  /*------- END: Star Background CSS ------------*/

.SaberBar:hover{
    width: 155px;
    border-top:    10px solid antiquewhite;
    border-right:  10px solid antiquewhite;
    border-left: 10px solid antiquewhite; 
}

.SaberBar{
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    z-index: 100;
    width: 150px;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
    -webkit-transition: border 1s;
    -o-transition: border 1s;
    transition: border 1s;
}

/* .SaberBar:nth-of-type(even){
    background: #8CBA51; 
}

.SaberBar:nth-of-type(odd){
    background: #C9485B; 
} */


/*# sourceMappingURL=demo.b74eb3fb.css.map*/